@using Website.Models

@model OverviewViewModel
@{
    Layout = null;
}

<script>
    // ja ranzig...
    function goto(href) {
        window.location = href;
    }
</script>


<table class="table  table-hover">
    <thead>
        <tr>
            <th scope="col">Label</th>
            <th scope="col">Positief</th>
            <th scope="col">Neutraal</th>
            <th scope="col">Negatief</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Items)
        {
            <tr class="hoverable-row" onclick="javascript:goto('/sentiment/details/@item.Name')">
                <th scope="row"><img src="@item.Icon" title="@item.Name" width="100" /></th>
                <td><p class="font-weight-bold text-success">@item.Positive %</p></td>
                <td><p class="font-weight-bold text-warning">@item.Neutral %</p></td>
                <td><p class="font-weight-bold text-danger">@item.Negative %</p></td>
            </tr>
        }
    </tbody>
</table>
